SUB2API_ADMIN_URL=http://192.168.1.49:8080/admin/accounts
SUB2API_GROUP=openai
SUB2API_PLATFORM=OpenAI
SUB2API_ACCOUNT_TYPE=Oauth
SUB2API_HEADLESS=false
SUB2API_SLOW_MO=80
SUB2API_CALLBACK_PORT=18765
SUB2API_BROWSER_PROFILE=.browser-profile
SUB2API_KEEP_OPEN_ON_FAIL=false
